@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle;font-size:100%}
button{border:0 none;background-color:transparent;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none}
input:checked[type='checkbox']{background-color:#666;-webkit-appearance:checkbox;-moz-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;-moz-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none;-moz-appearance:none}
body{min-width:320px;background:#f5f5f5}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:system-ui,'AppleSDGothicNeo',sans-serif;color:#212126}
a{color:#212126;text-decoration:none}
a:active,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* global */
.ir_pm{display:block;overflow:hidden;font-size:1px;line-height:0;color:transparent}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.ir_caption{overflow:hidden;width:1px;font-size:1px;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.show{display:block}
.hide{display:none}
.opt_select{border:0 none;background:none;-webkit-appearance:none;-moz-appearance:none}

/* 레이아웃 */
html,body{height:100%}
#kakaoWrap{position:relative;min-height:100%;box-sizing:border-box}
.wrap_bill,.cont_common{padding-bottom:38px}
.bg_white{background-color:#fff}
.bg_white .area_detail,
.bg_white .gnb_detail{background-color:#f5f5f5}

/* 보더 */
.bar_divider{display:block;height:1px;background-color:#e6e6e8}

/* 홈 - 상단 헤더 */
.head_main{position: absolute;top:0;left:0;right:0;z-index:9990;min-width:320px;border-bottom:1px solid rgba(33,33,38,.06);-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;}
.head_main~#kakaoContent{padding-top:80px}
.head_main .tit_main{padding:0 24px 11px;font-size:30px;line-height:36px;color:#212126;background-color:#fff}
.head_main .tab_main{overflow:hidden;padding:0 14px 0;background-color:#fff}
.head_main .tab_main li{float:left}
.head_main .tab_main .link_tab{display:block;padding:7px 10px 6px 12px;font-weight:bold;font-size:16px;line-height:19px;color:#848484}
.head_main .tab_main .on .link_tab{position:relative;color:#212126}
.head_main .tab_main .on .link_tab:after{position:absolute;bottom:0;left:8px;right:8px;height:2px;background-color:#5a5a5c;content:''}
.head_main.head_main_tempo .tab_main{padding-top:29px;background-color:#1f2b35}
.head_main.head_main_tempo .tit_main{overflow:hidden;position:absolute;width:0;height:0;padding:0;line-height:0;color:#fff;text-indent:-9999px}
.head_main.head_main_tempo .tab_main .link_tab{color:#fff}
.head_main.head_main_tempo .tab_main .on .link_tab{color:#fff}
.head_main.head_main_tempo .tab_main .on .link_tab:after{background-color:#fff}
.head_main.head_main_tempo~#kakaoContent{padding-top:62px}
.scrolled .head_main{position: fixed; top:-48px;}
.scrolled .head_main.head_main_tempo{position: fixed; top:-30px}
/* .scrolled .head_main~#kakaoContent{padding-top:32px} */

.head_main.head_main_gray .tit_main{background-color:#f5f5f5}
.head_main.head_main_gray .tab_main{background-color:#f5f5f5}

h2, h3, p{white-space:pre-line;}